html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica CY", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #141913;
  background-color: #f3e5f5;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #9c27b0;
}

.page-header__layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__text {
  margin: 0 auto;
  font-size: 17px;
}

.page-header__link {
  display: flex;
}

.main-nav {
  margin-top: 50px;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
}

.nav-link:active {
  background-color: #cc8ed6;
}

.nav-link__picture {
  flex-shrink: 0;
  width: 92px;
  height: 92px;
  margin-right: 20px;
  border: 3px solid #cc8ed6;
  border-radius: 50%;
}

.nav-link__picture--1 {
  background: #cc8ed6 url("../img/baby-1.jpg") 0 0 / cover no-repeat;
}
.nav-link__picture--2 {
  background: #cc8ed6 url("../img/baby-2.jpg") 0 0 / cover no-repeat;
}
.nav-link__picture--3 {
  background: #cc8ed6 url("../img/baby-3.jpg") 0 0 / cover no-repeat;
}
.nav-link__picture--4 {
  background: #cc8ed6 url("../img/baby-1.jpg") 0 0 / cover no-repeat;
}
.nav-link__picture--5 {
  background: #cc8ed6 url("../img/baby-2.jpg") 0 0 / cover no-repeat;
}
.nav-link__picture--6 {
  background: #cc8ed6 url("../img/baby-3.jpg") 0 0 / cover no-repeat;
}

.nav-link__text {
  flex-grow: 1;
  margin: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
