html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Arial, "Helvetica CY", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #fff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
